body{
    margin: 0;
    font-family: 'Arial';
}
.header{
    background-color: #2e361d;
    position: fixed;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 64px;
    color: #fff;
    .logo{
        display: flex;
        cursor: pointer;
        mat-icon{
            font-size: 30px;
            display: inline-block;
            margin-right: 15px;
        }
    }
    .spacer{
        flex: 1 1 auto;
    }
}

.book-wrapper{
    // background: #13160d url("/assets/img/hp_bg.jpg") no-repeat center -500px ;
    background: #13160d;
    text-align: center;
    color: #fff;
    padding-top: 64px; 
    .book-container{
        max-width: 1240px;
        margin: auto;
        .book-intro{
            padding: 50px 0;
            .pre-title {
                font-size: 20px;
                line-height: 1.4;
            }
            .title {
                font-size: 60px;
                line-height: normal;
                font-weight: bold;
                margin: 15px auto;
                @media (max-width:767px){
                    font-size: 40px;
                    margin-bottom: 0;
                }
            }
            .accroche {
                font-size: 16px;
                padding: 0 15px;
                line-height: 30px;
                max-width: 800px;
                margin: 0px auto;
                @media (max-width:767px){
                    display: none;
                }
            }
        }
        .bloc-filter {
            margin-bottom: 50px;
            input{
                margin-left: 15px;
                height: 40px;
                width: 30%;
                padding: 1px 15px;
                @media (max-width: 991px){
                    width: 63%;
                }
                @media (max-width: 767px) {
                    width: 260px;
                    display: block;
                    margin: 15px auto 0;
                }
            }
        }
        .book-list{
            display: flex;
            flex-flow: wrap;
            flex-direction: row;
            justify-content: center;
            .book-item{
                flex: 0 0 25%;
                margin-bottom: 40px;
                .book-infos{
                    padding: 0 25px 25px;
                    .book-cover{
                        img{
                            border-radius: 7px;
                            max-width: 260px; 
                        }
                    }
                    .book-title {
                        font-size: 20px;
                        line-height: 26px;
                        max-width: 260px;
                        margin: 25px auto 35px;
                    }
                    .book-bottom {
                        position: relative;
                        .book-price {
                            font-size: 30px;
                            font-weight: bold;
                        }
                        a{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            right: 0;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #ff4081;
                            min-width: 64px;
                            border-radius: 4px;
                            padding: 0 5px;
                            .mat-icon{
                                transform: scale(1);
                                transition: all ease-in-out 300ms;
                            }
                            // .added{
                            //     display: none;
                            // }
                            &.cdk-focused{
                                .mat-icon{
                                    display: none;
                                }
                                .added{
                                    display: block;
                                    animation: added 2s ease-in-out 0s 1 normal forwards;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 1279px){
    .book-wrapper{
        .book-container{
            .book-list{
                justify-content: center;
            }
        }
    }
}
@-webkit-keyframes added {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
@keyframes added {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}